* @streamlit/community-cloud
/etc/systemd/system/retrain_monitor.service
[Unit]
Description=Doctore Automated Retraining & Reporting System
After=network.target

[Service]
User=ubuntu
WorkingDirectory=/home/ubuntu
ExecStart=/usr/bin/python3 /home/ubuntu/retrain_monitor.py
Restart=always

[Install]
WantedBy=multi-user.target
sudo systemctl enable retrain_monitor.service
sudo systemctl start retrain_monitor.service
sudo systemctl status retrain_monitor.service
git clone -b doctore-source-patch-1 https://github.com/doctore-source/doctore_pipeline.py.git
