streamlit
flask==2.2.2
gunicorn>=20.1.0
fpdf
requests
schedule
pandas
numpy
scikit-learn
joblib
matplotlib
torch
torch_geometric
xgboost
lightgbm
catboost

flask
gunicorn
fpdf
requests
schedule
sqlite3
pandas
numpy
scikit-learn
joblib
matplotlib
torch
torch_geometric
xgboost
lightgbm
catboost
pip install -r requirements.txt
streamlit run streamlit_app.py
python doctore_api.py
python retrain_monitor.py
gunicorn --workers 4 --bind 0.0.0.0:5000 doctore_api:app
pip install -r requirements.txt
